{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="shadow row d-flex justify-content-center align-items-center mx-auto my-5  rounded-3">
        <div class="col-12 col-md-6 order-2 order-md-1">
            <form style="width:70% ; margin : auto" method="post" novalidate class="lh-sm my-3">
                <h1 class="text-center mb-3">{{type}}</h1>
                {% csrf_token %}
                {% if form.non_field_errors %}
                {% for er in form.non_field_errors %}
                <p class="bg-danger text-white p-3">{{er}}</p>
                {% endfor %}
                {% endif %}
                <!-- {{form | crispy}} -->
                {% for fm in form%} {{fm.label_tag}} {{fm}} <small class="text-danger">
                    <p>{{fm.errors|striptags}}</p>
                </small>
                {% endfor %}
                <div class="d-flex justify-content-between align-items-center">
                    <button class="btn btn-danger rounded-0 me-5" type="submit">{{type}}</button>
                    {% if type == 'Login' %}
                    <a href="{% url 'password_reset' %}">Forgotten your password?</a>
                    {% endif %}
                </div>
                <br>
                {% if type == 'Login' %}
                <a href="{% url 'register' %}" class="text-decoration-none">Don't have any account? Register</a>
                {% elif type == 'Register' %}
                <a href="{% url 'login' %}" class="text-decoration-none">Already have an Account? Login</a>
                {% endif %}

            </form>
        </div>
        <div class="col-12 col-md-6 order-1 order-md-2">
            {% if type == 'Login' %}
            <img src="{% static 'images/login.svg' %}" alt="">
            {% elif type == 'Register' %}
            <img src="{% static 'images/register.svg' %}" alt="">
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}