asgiref
certifi
crispy-bootstrap5
distlib
Django
django-crispy-forms
django-environ
filelock
MouseInfo
numpy
opencv-contrib-python
pillow
pipenv
platformdirs
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
pytweening
setuptools
six
sqlparse
tzdata
virtualenv