@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&family=Montserrat:wght@100;200;300;400;600;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

body {
    font-family: poppins;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* .quiz-card {
    max-width: 32%;
} */

.dropdown:hover .dropdown-menu {
    display: block;
}