{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="shadow  mx-auto my-5  rounded-3">
        <form style="width:70% ; margin : auto" class="lh-sm my-5 py-5" action="." method="post">
            <h1 class="">Forgotten your password?</h1>
            <p>Enter your e-mail address to obtain a new password.</p>
            {% csrf_token %}
            {{ form | crispy }}
            <p><input type="submit" class="btn btn-danger rounded-0 mb-3" value="Send e-mail"></p>
        </form>

    </div>
</div>
{% endblock %}