{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="shadow  d-flex justify-content-center flex-column mx-auto my-5  rounded-3">

        <form style="width:70% ; margin : auto" class="lh-sm my-5 " action="." method="post">
            <h1>Reset your password</h1>
            {% if validlink %}
            <p>Please enter your new password twice:</p>
            {% csrf_token %}
            {{ form | crispy }}
            <p><input type="submit" class="btn btn-danger rounded-0 mb-3" value="Change my password" /></p>
        </form>
        {% else %}
        <p>The password reset link was invalid, possibly because it has
            already been used. Please request a new password reset.</p>
        {% endif %}
    </div>
</div>
{% endblock %}