{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="shadow w-75 d-flex justify-content-center flex-column p-5  mx-auto my-5  rounded-3">

        <div class="m-5">
            <h1>Reset your password</h1>
            <p>We've emailed you instructions for setting your password.</p>
            <p>If you don't receive an email, please make sure you've entered the
                address you registered with.</p>
        </div>
    </div>
</div>
{% endblock %}